*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll
*.so.*

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
!/Makefile
install_manifest.txt
compile_commands.json
build/

*.tmp
*.log
*.bak
*.swp

vcpkg_installed/

testing/
.cache/
